<!--
Centennial College
Date:10/01/2021  
Eduardo Escobar #301081088
COMP:229 SEC:15
PROFESSOR: Aderson Oliveira
-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->

  <main class="container">
    <div class="jumbotron">
     
      <h1 class="display-4 text-center" ><%= title %> Me</h1>
      <br>
      <br>
        <div class="row">
            <div class="col-sm">
              
      <img src="/assests/images/about.jpg" class="img-fluid" alt="Responsive image">
  
          </div>
        <div class="col-sm">
          <p class="lead text-center">
            Hello everybody,
            </p>
  
            <p class="lead text-center">
              Nice to meet you all! <br> My name is Eduardo Escobar.
          <br>I am originally from Brazil but I have been living in Canada for almost 3 years!
          I pursue a diploma in Technology fundation and I am currently studying Software engineering.
  
          Since I was a child, I enjoyed assembling and disassembling computers.
          I have a bachelor's degree in veterinary medicine, and I have studied and worked with x-rays and ultrasounds during my internships
          I became more interested in technologies and decided that I wanted a career in this field.
  
          Technology is capable of everything and my goal is to provide a strong visual impression for the websites 
          I create as the first impression is most influenced by the visual appeal of the site.
          </p>
          <br>
  
          <a href="https://drive.google.com/file/d/1i4Oa8ptjKSg56LVRyIV8_cVm03BeHcOa/view?usp=sharing"> <p class="lead text-center" id="resume">Link Resume</p></a>
        </div>
            
        </div>
     
  
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
