<!--
Centennial College
Date:10/01/2021  
Eduardo Escobar #301081088
COMP:229 SEC:15
PROFESSOR: Aderson Oliveira
-->
 

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
  <div class="jumbotron">
   
    <h1 class="display-4 text-center" ><%= title %></h1>
    <br>
    <br>

    <h5 class="text-center">Mission Statement</h5>
    <br>
    <img src="/assests/images/home.jpg" class="rounded mx-auto d-block" alt="Responsive image" style="width:400px;">
    <br>
    <br>
    <p class="lead text-center">Never stop exploring the world of technology, learning new things that come up frequently, and never stop challenging myself because that will grow me into a stronger person.</p>
    

  </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
