<!--
Centennial College
Date:10/01/2021  
Eduardo Escobar #301081088
COMP:229 SEC:15
PROFESSOR: Aderson Oliveira
-->
 

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
     
      <h1 class="display-4 text-center" ><%= title %></h1>
      <br>
      <br>
     
      <div class="container">
        <div class="row">
          <div class="col align-self-start">
            <img src="/assests/images/project1.png" class="img-fluid" alt="Responsive image">
            <h5 class="text-center">React</h5>
            <p>There is still work to be done on this project. I am learning to create dynamic tables to add my expenses, which is a project I am currently undertaking.</p>
          </div>
          
          <div class="col align-self-start">
            <img src="/assests/images/project2.png" class="img-fluid" alt="Responsive image">
            <h5 class="text-center">SASS</h5>
            <p>The project is not finished yet. My goal is to build an entire website using CSS/Sass without using Bootstrap.</p>
          </div>
          
          <div class="col align-self-start">
            
            <img src="/assests/images/project3.png" class="img-fluid" alt="Responsive image">
            <h5 class="text-center">JS</h5>
            <p>I created a Paint clone using JavaScript</p>
          </div>
        </div>
      </div>
  
  
  
    </div>
    </main>
  
  

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
