<!--
Centennial College
Date:10/01/2021  
Eduardo Escobar #301081088
COMP:229 SEC:15
PROFESSOR: Aderson Oliveira
-->
 

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4 text-center" ><%= title %></h1>

      <ul class="list-group text-center">
        <br>
        <li class="list-group-item"><p>HTML</p><i class="fab fa-html5 fa-5x "></i></li>
        <li class="list-group-item"><p>CSS</p><i class="fab fa-css3-alt fa-5x"></i></li>
        <li class="list-group-item"><p>JavaScript</p><i class="fab fa-js-square fa-5x"></i></li>
        <li class="list-group-item"><p>Bootstrap</p><i class="fab fa-bootstrap fa-5x"></i></li>
        <li class="list-group-item"><p>React</p><i class="fab fa-react fa-5x"></i></li>
      </ul>
  
  </main>


  <%- include partials/bottom_nav.ejs %>
  
  <%- include partials/footer.ejs %>
  